<div *ngIf="selectPart" fxFlex >

    <mat-card fxLayout="column" fxLayout.xs="column" fxLayoutGap="50px" fxLayoutWrap
        fxLayoutAlign="space-around center" class="card_main">

        <div fxLayoutWrap>
            <h2 align="center">Регистрация участника в XXI Чемпионате Санкт-Петербурга по парикмахерскому искусству и
                декоративной косметике</h2>
            <h2 align="center">Выберите направление:</h2>
        </div>

        <!-- <mat-card fxFlex class="example-card-width" (click)="selectCourse(1, true)">
            <mat-card-title>Парикмахерское направление</mat-card-title>
        <div matRipple [matRippleTrigger]="trigger" class="my-ripple-container">
            Парикмахерское направление
        </div>
        </mat-card> -->

        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="50px" fxLayoutWrap fxLayoutAlign="space-around center">
            <!-- <div class="example-ripple-container mat-elevation-z4" matRipple [matRippleCentered]="centered"
                [matRippleDisabled]="disabled" [matRippleUnbounded]="unbounded" [matRippleRadius]="radius"
                [matRippleColor]="color" (click)="selectCourse(1, true)">
                Парикмахерское направление
            </div> -->
            <a (click)="selectCourse(1, true)">
                <mat-card class="card_list">
                    <mat-card-title>Парикмахерское направление</mat-card-title>
                </mat-card>
            </a>
            <a (click)="selectCourse(2, true)">
                <mat-card class="card_list">
                    <mat-card-title>Парикмахерское направление Юниоры</mat-card-title>
                </mat-card>
            </a>

            <!-- <div class="example-ripple-container mat-elevation-z4" matRipple [matRippleCentered]="centered"
                [matRippleDisabled]="disabled" [matRippleUnbounded]="unbounded" [matRippleRadius]="radius"
                [matRippleColor]="color" (click)="selectCourse(2, true)">
                Парикмахерское направление Юниоры
            </div> -->

        </div>

        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="50px" fxLayoutWrap fxLayoutAlign="space-around center">
            <!-- <div class="example-ripple-container mat-elevation-z4" matRipple [matRippleCentered]="centered"
                [matRippleDisabled]="disabled" [matRippleUnbounded]="unbounded" [matRippleRadius]="radius"
                [matRippleColor]="color" (click)="selectCourse(3, true)">
                Моделирование и дизайн ногтей
            </div> -->

            <a (click)="selectCourse(3, true)">
                <mat-card class="card_list">
                        <mat-card-title>Моделирование и дизайн ногтей</mat-card-title>
                    
                </mat-card>
            </a>
            <a (click)="selectCourse(4, true)">
                <mat-card class="card_list">
                        <mat-card-title>ВИЗАЖИСТЫ - ЭСТЕТИКА</mat-card-title>
                </mat-card>
            </a>

            <!-- <div class="example-ripple-container mat-elevation-z4" matRipple [matRippleCentered]="centered"
                [matRippleDisabled]="disabled" [matRippleUnbounded]="unbounded" [matRippleRadius]="radius"
                [matRippleColor]="color" (click)="selectCourse(4, true)">
                ВИЗАЖИСТЫ - ЭСТЕТИКА
            </div> -->

        </div>






    </mat-card>
</div>


<div *ngIf="fillForm">


    <div fxLayout="column" fxLayoutGap="50px" fxLayoutWrap fxLayoutAlign="space-around center">
        <button (click)="selectCourse(0, false)" mat-flat-button color="primary">Вернуться к выбору направления</button>
        <div>
            <!-- Заголовок -->

            <h2 align="center">{{currentUser.cName}}</h2>
            <h3 align="center">{{currentUser.cAddress}}</h3>

        </div>

        <div>
            <!-- ФИО -->
            <p>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Название, адрес и телефон салона:"
                        [(formControl)]="complexForm.controls['salon']">
                    <mat-error *ngIf="!complexForm.controls['salon'].valid && complexForm.controls['salon'].touched">
                        Название салона обязательно
                    </mat-error>
                </mat-form-field>
            </p>

            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Фамелия" [formControl]="complexForm.controls['surname']">
                            <mat-error
                                *ngIf="!complexForm.controls['surname'].valid && complexForm.controls['surname'].touched">
                                Это обязательное поле
                            </mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Имя" [formControl]="complexForm.controls['name']">
                            <mat-error
                                *ngIf="!complexForm.controls['mName'].valid && complexForm.controls['mName'].touched">
                                Это обязательное поле
                            </mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Отчество" [formControl]="complexForm.controls['mName']">
                            <mat-error
                                *ngIf="!complexForm.controls['mName'].valid && complexForm.controls['mName'].touched">
                                Это обязательное поле
                            </mat-error>
                        </mat-form-field>
                    </td>
                </tr>
            </table>

            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Дата рождения:"
                    [formControl]="complexForm.controls['bDay']">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
            </mat-form-field>

            <p>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Ф. И. О. модели:" [formControl]="complexForm.controls['mannequin']">
                    <mat-error
                        *ngIf="!complexForm.controls['mannequin'].valid && complexForm.controls['mannequin'].touched">
                        Необходимо указать ФИО вашей модели
                    </mat-error>
                </mat-form-field>
            </p>

            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Телефон" [formControl]="complexForm.controls['phone']">
                            <mat-error
                                *ngIf="!complexForm.controls['phone'].valid && complexForm.controls['phone'].touched">
                                Необходимо указать телефон
                            </mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Email" [formControl]="complexForm.controls['email']"
                                [errorStateMatcher]="matcher" required>
                            <mat-hint>обязательноe поле</mat-hint>
                            <mat-error *ngIf="complexForm.controls['email'].hasError('email') &&
                                 !complexForm.controls['email'].hasError('required')">
                                Укажите корректный e-mail
                            </mat-error>
                            <mat-error *ngIf="complexForm.hasError('required')">
                                Email <strong>обязательноe</strong> поле
                            </mat-error>
                        </mat-form-field>
                    </td>
                </tr>
            </table>

            <p>
                <mat-checkbox [formControl]="complexForm.controls['confirmPersonal']">
                    Согласен на обработку персональных данных
                </mat-checkbox>
            </p>
        </div>

        <div>
            <!-- Таблица -->
            <h3>Я хотел(а) бы участвовать в следующем конкурсе:</h3>
            <br />
            <div *ngFor="let list of currentUser.nominations" div fxLayout="column" fxLayoutAlign="start start">

                <h3>{{list.name}}</h3>

                <div div fxLayout="row" fxLayoutAlign="start center" fxFill>
                    <div fxFlex="60">
                        <div *ngFor="let inlist of list.parts" div fxLayout="column" fxLayoutAlign="start start">
                            {{inlist}}
                        </div>
                    </div>
                    <div fxFlex="20">стоимость участия: {{list.price}} руб.</div>
                    <div fxFlex="20">
                        <mat-checkbox [(ngModel)]="list.selected" (change)="onChanges()">

                        </mat-checkbox>
                    </div>
                </div>
            </div>


        </div>

        <div>
            <h3> Итого к оплате по выбранным номинациям: {{sumTotal}} </h3>

        </div>

        <div>
            <!-- Кнопки -->
            <button (click)="testClick()" mat-flat-button color="primary">Тестовая кнопка</button>

            <br />

            <button (click)="sendUserInfo()" mat-flat-button color="primary" [disabled]="!complexForm.valid">
                Зарегестрироваться и оплатить
            </button>
            <mat-progress-bar mode="indeterminate" *ngIf="IsWait"></mat-progress-bar>

            <br />

            <!-- <button (click)="createPayment()" mat-flat-button color="primary">Create Payment</button> -->
        </div>

        <div>
            <!-- Прогресс - бар -->

        </div>


    </div>


</div>